@page "{id:int?}"
@model SalonBellissima.Pages.Categorii.IndexModel

@{
    ViewData["Title"] = "Categorii";
}

<h1>În ce ne specializăm?</h1>

<p>
    <a asp-page="Create">Adaugă o categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].DenumireCategorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategorieData.Categorii)
        {
            string selectedRow = "";
            if (item.ID == Model.CategorieID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.DenumireCategorie)
                </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.CategorieData.Servicii != null)
{
    <h3>Servicii care se încadrează în categoria selectată</h3>
    <table class="table">

        @foreach (var item in Model.CategorieData.Categorii)
        {
            string selectedRow = "";
            if (item.ID == Model.CategorieID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Servicii)
                        {

                            <div>

                                <strong>@b.Denumire</strong>
                                <br />
                                <strong>Pret:</strong> @b.Pret lei
                                <br />
                                <strong>Durata:</strong> @b.Durata minute
                                <br />
                                <br /> 
                            </div>
                        }
                    }
                </td>
            </tr>
        }
    </table>
}