@page
@model SalonBellissima.Pages.Programari.IndexModel

@{
    ViewData["Title"] = "Programari";
}

<h1>Listă programări</h1>

<p>
    <a asp-page="Create">Programează-te</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Serviciu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].DataProgramare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].OraProgramare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Programare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.NumeClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviciu.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProgramare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OraProgramare)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
